<style>
    /* 
    Mobile:
    Main text - Size: 30 pt 
    Main text - line-height: 96.7%
    Main text - color: different

    'NO!' text - Size: 50 pt
    'NO!' text - color: F4F5F7

    NO! + extra text - Size: 20 pt
    NO! + extra text - line-height: 96.7%
    NO! + extra text - color: F4F5F7

    'Share' text - size: 20pt
    'Share' text - color: F4F5F7

    Desktop:
    Main text - Size: 53.91 pt 
    Main text - line-height: 96.7%
    Main text - color: different

    'NO!' text - Size: 89.84 pt
    'NO!' text - color: F4F5F7

    NO! + extra text - Size: 35.65 pt
    NO! + extra text - line-height: 96.7%
    NO! + extra text - color: F4F5F7 
*/


    .maintext {
        font-size: 53.91px !important;
        color: #F4971A;
        font-weight: bold;
    }

    .notext {
        font-size: 89.84px !important;
        color: #F4F5F7;
        margin: 0;
        font-weight: bold;
    }

    .notextExtra {
        font-size: 35.65px !important;
        color: #F4F5F7;
        font-weight: bold;
        margin: 0px;
    }

    @media screen and (max-width: 767px) {

        .maintext {
            font-size: 30px !important;
            color: #F4971A;
            font-weight: bold;           
        }

        .notext {
            font-size: 50px !important;
            color: #F4F5F7;
            margin: 0;
            font-weight: bold;
        }

        .notextExtra {
            font-size: 20px !important;
            color: #F4F5F7;
            font-weight: bold;
            margin: 0px;
        }
    }

    .wrapper {
        display: grid;
        grid-gap: 10px;
        /* grid-template-columns: 100px 100px 100px; */
        grid-template-rows: 10% 15% 25% 25% 25% ;
        color: #444;
        width: 100vw;
        min-height: 100vh;
        margin: 0;
        padding: 0;
    }

    .top {
        grid-row: 2 / span 2;
    }
    .bottom {
        grid-row: 4;
    }
</style>


<div class="wrapper">
    <div class="top">
        <div ngClass="maintext"[innerHtml]="title.question"></div>
    </div>
    <div class="bottom">
        <div ngClass="notext" [innerHtml]="title.answer"></div>
        <div ngClass="notextExtra" [innerHtml]="title.answerExtra"></div>
    </div>
</div>