<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 


  /* a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  } */



  .footer {
    /* margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px; */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    /* background-color: red; */
    color: white;
    text-align: center;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  } 
</style>


<div class="content" role="main">

  <rona-can-i *ngIf="!loading" [title]="canIText"></rona-can-i>

<!-- <svg *ngIf="loading" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto;  display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <circle cx="50" cy="50" r="32" stroke-width="1" stroke="#a3354b" stroke-dasharray="50.26548245743669 50.26548245743669" fill="none" stroke-linecap="round" transform="rotate(114.225 50 50)">
    <animateTransform attributeName="transform" type="rotate" repeatCount="0.5" dur="1s" keyTimes="0;1" values="0 50 50;360 50 50"></animateTransform>
  </circle>
</svg>

<svg height="10em" viewBox="0 0 520 520" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h520v520H0z"></path>
  <path d="M260 60V0l100 100-100 100v-60c-66.274 0-120 53.726-120 120H60c0-110.457 89.543-200 200-200zm0 400v60L160 420l100-100v60c66.274 0 
  120-53.726 120-120h80c0 110.457-89.543 200-200 200z" fill="currentColor">
  <animateTransform attributeName="transform" type="rotate" repeatCount="0.5" dur="1s" keyTimes="0;1" 
  from="0 60 70"
  to="360 60 70"
  ></animateTransform>
</path> 
</svg> -->



</div>
<div class="footer">
  <!-- <button (click)="refreshed()"> [REFRESH] </button> -->
  <s1-lottie
  [options]="lottieParams"
  [width]="300"
  [height]="300"
  [optimize]="false"
  (animationCreated)=onAnimationCreated($event)
  (click)=refreshed()
  >
</s1-lottie>

</div>